<div class="single-sidebar-widget">
  <div class="falling-leaves">
    </div>
    <h6 class="widget-title">me</h6>
    <div class="sidebar-content about-me">
      <!-- <div class="my-photo">
        <a href="#"><img class="img-circle" src="{{ '/assets/img/sidebar/me.jpg'}}" alt="My Image" /></a>
      </div>
      <p>Lorem ipsum dolor sit amet, consecteturs adipisicing elit, sed do
        eiusmod tempor incididunt labore et dolore aliqua. Ut enim ad minim veniam,</p>
       -->
       <img src="https://farm1.staticflickr.com/219/516166050_648eb105d6.jpg">
    </div><!-- /.sidebar-content -->
  
</div><!-- /.single-sidebar-widget -->