  <!-- jquery
============================================ -->
<script src="{{ '/assets/js/vendor/jquery-1.11.3.min.js'}}"></script>
<!-- bootstrap JS
============================================ -->
<script src="{{ '/assets/js/bootstrap.min.js'}}"></script>
<!-- meanmenu JS
============================================ -->
<script src="{{ '/assets/js/jquery.meanmenu.js'}}"></script>
<!-- owl.carousel JS
============================================ -->
<script src="{{ '/assets/js/owl.carousel.min.js'}}"></script>
<!-- scrollUp JS
============================================ -->
<script src="{{ '/assets/js/jquery.scrollUp.min.js'}}"></script>
<!-- plugins JS
============================================ -->
<script src="{{ '/assets/js/plugins.js'}}"></script>
<!-- main JS
============================================ -->
<script src="{{ '/assets/js/main.js'}}"></script>

<script src="{{ '/assets/js/fallenscence.js'}}"></script>