  <!-- slider-area start -->
  <div id="slider" class="slider-area">
    <div id="top-carousel" class="slider-wrap">
      <div class="single-slide">
        <a href="#"><img src="{{site.url}}/assets/img/sidebar/prairie-sunset-silhouette.jpg" alt="Slide Image" style="height:286px;width:429px"/></a>
        <div class="slide-text-container text-center">
          <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
        </div>
      </div><!-- /.single-slide -->
      <div class="single-slide">
        <a href="#"><img src="{{site.url}}/assets/img/sidebar/beach-bike-path.jpg" alt="Slide Image" style="height:286px;width:429px"/></a>
        <div class="slide-text-container text-center">
          <h5><a href="#">Anh yeu em nhu cay ca rem</a></h5>
        </div>
      </div><!-- /.single-slide -->
      <div class="single-slide">
        <a href="#"><img src="{{site.url}}/assets/img/sidebar/adam-sun-1465319-unsplash.jpg" alt="Slide Image" style="height:286px;width:429px" /></a>
        <div class="slide-text-container text-center">
          <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
        </div>
      </div><!-- /.single-slide -->
      <div class="single-slide">
        <a href="#"><img src="{{site.url}}/assets/img/sidebar/tech-group-meeting-flatlay.jpg" alt="Slide Image" style="height:286px;width:429px" /></a>
        <div class="slide-text-container text-center">
          <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
        </div>
      </div><!-- /.single-slide -->
      <div class="single-slide">
        <a href="#"><img src="{{site.url}}/assets/img/sidebar/rooftopper-looking-down.jpg" alt="Slide Image" style="height:286px;width:429px" /></a>
        <div class="slide-text-container text-center">
          <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
        </div>
      </div><!-- /.single-slide -->
    </div><!-- /#top-carousel -->
  </div>
  <!-- slider-area end -->