<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>


<body class="home-2">
  <!--[if lt IE 8]>
        <p class="bro  wserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="preloader">
        <div class="circ1"></div>
        <div class="circ2"></div>
        <div class="circ3"></div>
        <div class="circ4"></div>
    </div>
  <div class="main_home hidden">
    {% include header.html %}
    
    {% unless page.url contains "html" %}
      {% include slider.html %}
    {% endunless %}
    
    <!-- main-content-area start -->

    <div id="main-content" class="main-content-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <!-- latest-reviews-area start -->
            <div id="latest-reviews" class="latest-reviews-area">


              {{ content }}

              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="pagination p1">
                    {% if paginator.total_pages > 1 %}
                    <ul>
                      {% if paginator.previous_page %}
                      <a href="{{ paginator.previous_page_path }}"><li><</li> </a>
                       {% endif %}
                       
                      {% if paginator.page == paginator.total_pages %}
                        {% assign previous = paginator.previous_page | minus: 1 %}
                        {% if previous == 0 %}
                          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                            <li>{{paginator.previous_page}}</li>
                          </a>
                          <a class="is-active" href="#">
                            <li>{{paginator.page}}</li>
                          </a>
                        {% else %}
                          <a href="{{ site.paginate_path | relative_url | replace: ':num', previous }}">
                            <li>{{previous}}</li>
                          </a>
                          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                            <li>{{paginator.previous_page}}</li>
                          </a>
                          <a class="is-active" href="#">
                            <li>{{paginator.page}}</li>
                          </a>
                        {% endif %}
                      {% elsif paginator.page == 1 %}
                        <a class="is-active" href="#">
                          <li>{{paginator.page}}</li>
                        </a>
                        <a href="{{ paginator.next_page_path }}">
                          <li>{{paginator.next_page}}</li>
                        </a>
                        {% assign next = paginator.next_page | minus: -1 %}
                        <a href="{{ site.paginate_path | relative_url | replace: ':num', next }}">
                          <li>{{next}}</li>
                        </a>
                      {% else %}
                      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                        <li>{{paginator.previous_page}}</li>
                      </a>
                      <a class="is-active" href="#">
                        <li>{{paginator.page}}</li>
                      </a>
                      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                        <li>{{paginator.next_page}}</li>
                      </a>
                      {% endif %}


                      {% if paginator.next_page %}
                      <a href="{{ paginator.next_page_path }}">
                        <li>></li>
                      </a>
                      {% endif %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <!-- latest-reviews-area end -->
          </div>
          {% unless page.id %}
          <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
            <div class="sidebar-area fix">
              {% include aboutme.html%}
              {% include followme.html %}
              <div class="single-sidebar-widget">
                <div class="sidebar-content ad-design">
                  <div class="ad-banner">
                    <a href="#"><img src="{{ 'assets/img/sidebar/alone.png'}}" alt="Ad Banner" /></a>
                    <div class="ad-banner-overlay">
                      <div class="banner-text">
                        <p>ad design</p>
                        <span>310&nbsp;X&nbsp;200</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.single-sidebar-widget -->

            </div>
          </div>
          {% endunless %}
        </div>
      </div>
    </div>
    <!-- main-content-area end -->

    <!-- footer-area start -->
    {% include footer.html %}
    <!-- footer-area end -->
  </div>
  <!-- footer javascript -->
  {% include footer_js.html %}

  {% if site.google_analytics and jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}
</body>

</html>